{% extends 'base.html.twig' %}

{% block title %}AirQualityInMyCity{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div id="welcome" class="col">
                <h1>Cześć!</h1>Wybierz lokalizację dla której chcesz sprawdzić czystość powietrza:
            </div>
            <div class="col"></div>
        </div>
    </div>

{% endblock %}
