@import "~bootstrap";

body {
    background-color: white;
    color: darkslategray;
}

.row {
    margin-top: 20px;
}

#welcome {
    margin-top: 100px;
}

#select-localizations {
    padding: 10px;
}

